<template>
  <div class="container mx-auto px-2">
    <div v-if="!isAuth" class="p-10 text-center bg-red-600 text-white mt-4 rounded">
        You do not have permission to use this application
    </div>
    <div v-if="isAuth">
        <form-component></form-component>
        <div class="flex flex-row justify-center mt-10" v-if="isSearching">
                <div class="loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-32 w-32"></div>
            </div>
        <list-component v-if="!isSearching"></list-component>
   </div>
</div>
</template>

<script>
import api from '../api';
import formComponent from './Form'
import listComponent from './CarListComponent'
import { mapGetters } from 'vuex'

export default {
  name: 'App',
  props:{
    vm : Object
  },
  components: {
    formComponent,
    listComponent
  },
  computed: {
    ...mapGetters([
        'isAuth',
      'isSearching',
      'isFormLoading',
      // ...
    ])
  },
  created(){
      
  },
  mounted(){
    
    this.$store.dispatch('setFeatures',this.vm.features.data);
      api.createClient(this.vm.apiUrl,this.vm.token);
      this.$store.dispatch('getAllMakes');
  }
}
</script>