<template>
    <div class="flex flex-col">
        <car-component v-for="car in cars" :key="car.id" :car="car"></car-component>
        
        
        
    </div>
</template>

<script>
import CarComponent from './CarListItemComponent'
import { mapGetters } from 'vuex'
export default {
  
  props:{
    
  },
  components: {
    CarComponent
  },
  computed: {
    ...mapGetters([
       'cars'
    ])
  },
  created(){
      
  },
  mounted(){
     
  }
}
</script>