<template>
  <div class="border border-blue-500 rounded p-2 mt-2 flex flex-col">
        <div class="flex flex-row justify-between">
          <div>{{car.make}} - {{car.model}}</div><div>{{car.registration}}</div>
        </div>
        <div class="flex flex-row justify-between text-sm">
          <div class="mr-4">{{car.type}}  ({{car.fuelType}})</div><div>{{car.mileage}} miles</div>
        </div>
        <div class="flex flex-row text-sm">
          <div class="mr-4" v-for="feature in car.features" :key="feature.id">{{feature}}</div>
        </div>
        <div class="flex flex-row justify-end text-xs">
          vin: {{car.vin}}
        </div>
    </div>
</template>

<script>
    

export default {
  
  props:{
    car:Object
  },
  components: {
    
  },
  created(){
      
  },
  mounted(){
     
  }
}
</script>