<template>
  <div class="border border-blue-500 rounded my-4 p-2">
   <div class="flex flex-col sm:flex-row justify-between">
        <div class="w-full sm:w-1/2 p-2">
            <v-select placeholder="Make" v-bind:class="{ 'border-solid border-2 border-red-500': makeError }" :disabled="isFormLoading || isSearching" label="name" :options="makes" v-model="carMake" @input="makeChange"></v-select>
        </div>
       <div class="w-full sm:w-1/2 p-2">
            <v-select placeholder="Model" :disabled="isFormLoading || isSearching" label="name" :options="models" v-model="carModel"></v-select>
       </div>
   </div>
   <div class="sm:text-center p-2 pb-0">Fuel Type</div>
    <div class="flex flex-row sm:justify-center">
        <div class="flex-grow p-2 flex flex-col sm:flex-row justify-between max-w-md">
            <div>
                <label class="cursor-pointer">
                <input type="radio" v-model="fuelType" value="all" class="mr-2 cursor-pointer" :disabled="isFormLoading || isSearching">
                All
                </label>
            </div>
            <div>
                <label class="cursor-pointer">
                <input type="radio" v-model="fuelType" value="petrol" class="mr-2 cursor-pointer" :disabled="isFormLoading || isSearching">
                Petrol
                </label>
            </div>
            <div>
                <label class="cursor-pointer">
                <input type="radio" v-model="fuelType" value="diesel" class="mr-2 cursor-pointer" :disabled="isFormLoading || isSearching">
                Diesel
                </label>
            </div>
            <div>
                <label class="cursor-pointer">
                <input type="radio" v-model="fuelType" value="electric" class="mr-2 cursor-pointer" :disabled="isFormLoading || isSearching">
                Electric
                </label>
            </div>
            <div>
                <label class="cursor-pointer">
                <input type="radio" v-model="fuelType" value="hybrid" class="mr-2 cursor-pointer" :disabled="isFormLoading || isSearching">
                Hybrid
                </label>
            </div>
        </div>
    </div>
    <div class="sm:text-center p-2 pb-0">Order By</div>
    <div class="flex flex-row sm:justify-center">
        <div class="flex-grow p-2 flex flex-col sm:flex-row justify-between max-w-md">
            <div>
                <label class="cursor-pointer">
                <input type="radio" v-model="orderBy" value="make" class="mr-2 cursor-pointer" :disabled="isFormLoading || isSearching">
                Make
                </label>
            </div>
            <div>
                <label class="cursor-pointer">
                <input type="radio" v-model="orderBy" value="model" class="mr-2 cursor-pointer" :disabled="isFormLoading || isSearching">
                Model
                </label>
            </div>
            <div>
                <label class="cursor-pointer">
                <input type="radio" v-model="orderBy" value="mileage" class="mr-2 cursor-pointer" :disabled="isFormLoading || isSearching">
                Mileage
                </label>
            </div>
        </div>
    </div>
    <div class="flex flex-row sm:justify-center">
        <div class="flex-grow p-2 flex flex-col sm:flex-row justify-around max-w-md">
            <div>
                <label class="cursor-pointer">
                <input type="radio" v-model="order" value="asc" class="mr-2 cursor-pointer" :disabled="isFormLoading || isSearching">
                Asc
                </label>
            </div>
            <div>
                <label class="cursor-pointer">
                <input type="radio" v-model="order" value="desc" class="mr-2 cursor-pointer" :disabled="isFormLoading || isSearching">
                Desc
                </label>
            </div>
        </div>
    </div>
    <div class="sm:text-center p-2 pb-0">Features</div>
    <div class="flex flex-row sm:justify-center">
        <div class="flex-grow p-2 flex flex-col sm:flex-row justify-between">
            <div v-for="feature in features" :key="feature.id">

                <label class="cursor-pointer" >
                <input type="checkbox" v-model="featureChecks" :value="feature.name" name="features[]" class="mr-2 cursor-pointer" :disabled="isFormLoading || isSearching">
                {{feature.name}} (£{{feature.price}})
                </label>
            </div>
        </div>
    </div>
    <div class="text-center">Minimum Feature Cost £  <input type="number" v-model="featureCost" min="0" step="1"></div>
    <div class="p-2">
        <button @click="formSubmit" class="w-full flex-grow bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" :disabled="isFormLoading || isSearching">Search</button>
    </div>
  </div>
</template>

<script>
import vSelect from 'vue-select'
import { mapGetters } from 'vuex'

export default {
  data: function(){
      return {
        carMake: null,
        carModel:null,
        fuelType: null,
        orderBy:null,
        order: null,
        featureChecks: [],
        featureCost: 0,
        makeError: false
      }
  },
  props:{
    
  },
  components: {
    vSelect
  },
  computed: {
    ...mapGetters([
        'features',
       'makes',
       'models',
      'isSearching',
      'isFormLoading',
    ])
  },
  methods:{
      makeChange(){
          this.carModel = null;
          if(this.carMake == null){
              this.$store.dispatch('clearModels')
              return
          }
          this.makeError = false
          this.$store.dispatch('getModelsForMake',this.carMake)  
      },
      formSubmit(){
            // if(this.carMake == null){
            //     this.makeError = true
            //     return
            // }
            this.makeError = false

            let featureString = this.featureChecks.length > 0 ? this.featureChecks.join() : null

            this.$store.dispatch('search',{ 
              make: this.carMake == null ? null : this.carMake.name,
              model: this.carModel == null ? null : this.carModel.name,
              fuelType: this.fuelType == null || this.fuelType == 'all' ? null : this.fuelType,
              orderBy: this.orderBy,
              order: this.order,
              features: featureString,
              featureCost: Math.round(this.featureCost)
              })
      }
  },
  created(){
      
  },
  mounted(){
      
  }
}
</script>